<div fxLayout="column" fxLayoutAlign="space-between center" class="film-container">
  <div class="search-area">
    <h1>The films app</h1>
    <p fxLayout="row" fxLayoutAlign="space-between center">

      <mat-form-field class="example-form-field" appearance="outline" color="accent">
        <mat-label>{{message}}</mat-label>
        <label>
          <input matInput
                 type="text"
                 [(ngModel)]="filmTitle"
                 [placeholder]="message"
          >
        </label>
        <button mat-button
                *ngIf="filmTitle"
                matSuffix mat-icon-button
                aria-label="Clear"
                (click)="filmTitle=''"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <button  mat-raised-button color="accent" (click)="getFilms()">Get Film</button>
    </p>
  </div>


  <mat-spinner *ngIf="loading"></mat-spinner>

  <div *ngIf="errorMessage" class="alert alert-warning">
    <strong>Warning!</strong> {{errorMessage | json}}
  </div>

<app-film-not-found [filmExists]="filmExists" [message]="message"></app-film-not-found>

<mat-card *ngIf="filmExists">
  <mat-card-header>
    {{film.Title}}
  </mat-card-header>
  <mat-card-subtitle>
    By: {{film.Director}}
  </mat-card-subtitle>
  <mat-card-content>
    <div fxLayout="row">
      <div class="film-image">
        <img src="{{film.Poster}}" alt="{{film.Title}}">
      </div>
      <div class="film-description">
        <p><strong>Year: </strong>{{film.Year}}</p>
        <p><strong>Released: </strong>{{film.Released}}</p>
        <p><strong>Runtime: </strong>{{film.Runtime}}</p>
        <p><strong>Genre: </strong>{{film.Genre}}</p>
        <p><strong>Writer: </strong>{{film.Writer}}</p>
        <p><strong>Actors: </strong>{{film.Actors}}</p>
        <p><strong>Plot: </strong>{{film.Plot}}</p>
        <p><strong>Language: </strong>{{film.Language}}</p>
        <p><strong>Country: </strong>{{film.Country}}</p>
        <p><strong>Awards: </strong>{{film.Awards}}</p>
      </div>
    </div>
  </mat-card-content>
</mat-card>



  <!--<pre>{{film | json}}</pre>-->

</div>



