.todo-item-container {
  background: #bfe8f3;
  padding: 20px;
}

.checkbox {
  margin: 0 10px;
}

.check-label {
  padding-top: 10px;
}

::ng-deep .mat-checkbox-frame {
  border-color: #3ea3c0;
  color: red;
}

.del {
  padding-top: 3px;
  cursor: pointer;
}

.del-icon {
  font-size: 20px;
  color: white;
}

.is-complete {
  text-decoration: line-through;
}








