.del {
  color: #ffffff;
  border: none;
  padding: 5px 2px;
  cursor: pointer;
  float: right;
}



.is-complete {
  text-decoration: line-through;
}

.todo-item-container {
  background: #bfe8f3;
  padding: 20px;
}

.checkbox {
  margin: 0 10px;
}

::ng-deep .mat-checkbox-frame {
  border-color: #3ea3c0;
  color: red;
}
